Sem-2/Theory/
Sem-2/Practical/DAA/.idea/
Sem-2/Practical/DAA/.vscode/
Sem-2/Practical/FSWD/Expressjs/node_modules/
Sem-1/CSE/
Sem-1/FDA/
Sem-1/IOS/
Sem-1/OOP/
Sem-1/PPL/
Sem-1/QUESTION_PAPERS/
Sem-1/SoftSkills/
Sem-1/TAFL/
