#subBtn{
    margin-top:40px;
    position: absolute;
    left: 12%;
    border-radius: 20px;                    
    color: yellow;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
    transition: width 2s, height 2s, transform 2s;            
}     

#subBtn:hover{
    background-color: yellow;
    color: purple;
    box-shadow: 5px 5px black;            
    cursor: pointer;
    /* transition: 1s; */
    /* width: 150px;
    height: 40px; */
    transform: rotate(360deg);
}